{% load static %}
<head>
    <!--功能写代码短-->
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <!--
        第17行代码替代 避免js文件的class命名冲突
        <script src="{% static 'js/dist/game.js' %}"></script>
    -->
    
</head>

<body style="margin: 0">
    <div id="my_app"></div>
    <script type = "module">
        import {Game} from "{% static 'js/dist/game.js' %}";
        $(document).ready(function(){
            let game = new Game("my_app");
        });
    </script>
</body>